In [ ]:
import json
import pandas
import time
import os
import csv
from functools import reduce

In [ ]:
summarizedDir = 'summarized_json//'

## Load the source file dict
summarizedFiles = json.loads(open('config//summarizedFiles.json', "r").read())

In [ ]:
## Cycle through all of files per source and drop into a list of dicts
## Printing list names for reference sake
dfs = []
for key in summarizedFiles.keys():
    print(key)
    vars()[key] = pandas.DataFrame(json.loads(open(summarizedDir + summarizedFiles[key][0], "r", encoding="utf-8").read()))
    dfs.append(vars()[key])

sports247
rivals
cfbRef
allConf
allAmerican
nflData
ncaa

In [ ]:
## I have no how it works
# BUT IT IS BEAUTIFUL
## src: https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns
df_final = reduce(lambda left,right: pandas.merge(left,right,how="left", on='ID'), dfs)
df_final.head()

,ID,playerName,year,college,highSchool,homeCity,homeState,position,height,weight,...,draft_pick,team,pos,all_pros_first_team,pro_bowls,years_as_primary_starter,g,draft_year,ncaa_gamesPlayed,ncaa_gamesStarted
0,paulthurston_nebraska,Paul Thurston,2012,nebraska,Arvada West,Arvada,CO,OT,77,275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gregmcmullen_nebraska,Greg McMullen,2012,nebraska,Archbishop Hoban,Akron,OH,SDE,77,255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jordanwesterkamp_nebraska,Jordan Westerkamp,2012,nebraska,Montini Catholic,Lombard,IL,WR,73,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,imanicross_nebraska,Imani Cross,2012,nebraska,North Hall,Gainesville,GA,RB,73,222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tommyarmstrong_nebraska,Tommy Armstrong,2012,nebraska,Steele,Cibolo,TX,DUAL,73,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
with open("linkedPlayers.csv", "w", encoding="utf-8") as write_file:
                write_file.write(df_final.to_csv())